# Virtual environment
env/
venv/
.myenv/
.env/
.venv/
myenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / distribution
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db


# rough files
rough_work.ipynb
models/
config.yaml
snn_mnist.py
snn_trainer.py
cached_dataset/
data/
test.ipynb
train_and_test_snn.py
train_fast.py
train_faster.py
train_model_inf.py


models_1.pt
models_2.pt
models_3.pt

Unet/__pycache__/
Unet/models/
Unet/cached_npy_dataset/
Unet/cached_npz_dataset/
Unet/h5_cached_dataset/

Unet/cache_npz.py
Unet.pre_pros.py
Unet/one_more_pre_pros.py
Unet/train.ipynb
Unet/train_model.ipynb
Unet/veiw_data.ipynb