# Virtual environment
env/
venv/
.myenv/
.env/
.venv/
myenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / distribution
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
